body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 3em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.block {
  display: inline-block;
  border: 2px solid rgb(82, 82, 82);
  background-color: rgb(167, 167, 167);
  height: 25px;
  width: 25px;
  outline: none;
  cursor: pointer;
}

.revealBomb  {
  background-color: red;
  background-image: url('./images/bomb.png');
}

.\31 {
  background-image: url('./images/one.png');
}

.\32 {
  background-image: url('./images/two.png');
}

.\33 {
  background-image: url('./images/three.png');
}

.\34 {
  background-image: url('./images/four.png');
}

.\35 {
  background-image: url('./images/five.png');
}

.\36 {
  background-image: url('./images/six.png');
}

.\37  {
  background-image: url('./images/seven.png');
}

.\38 {
  background-image: url('./images/eight.png');
}